.App {
   text-align: left;
}

.HeaderPanel {
   background-color: green;
   color: white;
   text-align: left;
}

.SearchPanel {
   margin-top: 40px;
   margin-left: 40px;
}

input[type="text"] {
   width: 50%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   background-color: #f1f1f1;
}

.TrainTabs {
   margin-top: 40px;
   margin-left: 40px;
   width: 80%;
}

h1 {
   margin: 0px;
   padding: 10px;
   padding-left: 40px;
}

/* Style the tab */
.tab {
   overflow: hidden;
   border-bottom: 1px solid #ccc;
   background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
   background-color: inherit;
   color: green;
   float: left;
   border-top: 2px solid #f1f1f1;
   border-right: 2px solid #f1f1f1;
   border-left: 2px solid #f1f1f1;
   border-bottom: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
   font-size: 100%;
}

/* Create an active/current tablink class */
.tab button.active {
   color: black;
   border-top: 2px solid #ccc;
   border-right: 2px solid #ccc;
   border-left: 2px solid #ccc;
   border-bottom: none;
}

table {
   width: 100%;
   border: 1px solid #ddd; /* Add a grey border */
   border-spacing: 0px;
}

/* Add a bottom border to all table rows */
tr,
th {
   border-bottom: 1px solid #ddd;
}

.OddRow {
   background-color: #f1f1f1;
}
